* {
	margin: 0;
}

html, body {
	height: 100%;
}
h1,
h2,
h3,
h4,
h5,
p {
	margin-bottom: 20px;
}
nav {
	position: fixed;
	width: 100%;
	height: 50px;
	background-color: rgba(0,0,0,.5);
	z-index: 99;
	text-align: center;
}
nav a {
	text-decoration: none;
	color: #fff;
	margin-left: 30px;
	line-height: 50px;
}
.sect {
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;

}

.subSection {
	height: 50%;
	
}
.sectOne {
	background-image: url("../img/brasil.jpg");
}
.sectTwo {
	background-image: url("../img/graduation.jpg");
}
.sectThree {
	background-image: url("../img/us.jpg");
}
.footer {
	position: fixed;
	width: 100%;
	height: 50px;
	background-color: rgba(0,0,0,.5);
	z-index: 99;
	text-align: center;
}
.footer a {
	text-decoration: none;
	color: #fff;
	margin-left: 30px;
	line-height: 50px;
}